@model CrudTripTravel.Models.NovaPasta.TBClientes

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/tt_promocao.css" />
</head>
<header>
    <nav class="navbar navbar-light">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Destinos">Destinos</a>
        <a asp-controller="Home" asp-action="Promocoes">Promoções</a>
        <a asp-controller="Home" asp-action="Contatos">Contatos</a>
    </nav>
</header>
<h1>Create</h1>

<h4>TBClientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone" class="control-label"></label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
