@model CrudTripTravel.Models.NovaPasta.TBDestinos

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="~/css/tt_promocao.css" />
</head>
<header>
    <nav class="navbar navbar-light">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Destinos">Destinos</a>
        <a asp-controller="Home" asp-action="Promocoes">Promoções</a>
        <a asp-controller="Home" asp-action="Contatos">Contatos</a>
    </nav>
</header>
<h1>Edit</h1>

<h4>TBDestinos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_destinos" />
            <div class="form-group">
                <label asp-for="destino" class="control-label"></label>
                <input asp-for="destino" class="form-control" />
                <span asp-validation-for="destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="local_destino" class="control-label"></label>
                <input asp-for="local_destino" class="form-control" />
                <span asp-validation-for="local_destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
