<head>
    <link rel="stylesheet" href="~/css/tt_destinos.css" />
</head>
<header class="rio">
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Destinos">Destinos</a>
        <a asp-controller="Home" asp-action="Promocoes">Promoções</a>
        <a asp-controller="Home" asp-action="Contatos">Contatos</a>
        <a asp-controller="TBDestinos" asp-action="Index">Crud</a>   
    </nav>
</header>
<br>
<div class="titulo">
    <h2>Cristo Redentor (Brasil) </h2>
</div>
<div class="texto">
    <p>
        Localizado no Morro do Corcovado, no Parque Nacional da Tijuca, no Rio de Janeiro, o monumento de Jesus Cristo é um dos ícones mais importantes do país, sendo um cartão postal da cidade maravilhosa.

        Construído de concreto e pedra-sabão, o Cristo Redentor está localizado a 709 metros acima do nível do mar. Foi inaugurado no dia 12 de outubro de 1931 (Dia de Nossa Senhora da Aparecida) e possui 38 metros de altura e 28 metros de largura.

        Localizado no Parque Nacional da Tijuca, o Cristo de braços abertos representa um grande símbolo do cristianismo, sendo um dos locais mais visitados do país.
    </p>
</div>
<br>
<header class="rio"></header>
<header class="roma"></header>
<br>
<div class="titulo">
    <h2>Coliseu de Roma (Itália) </h2>
</div>
<div class="texto">
    <p>
        Localizado na capital italiana, Roma, o Coliseu (ou Anfiteatro Flaviano) é o maior anfiteatro do mundo com 45 metros de altura e que abrigava cerca de 50 mil pessoas.

        Esse monumento arquitetônico cilíndrico foi construído na Antiguidade (cerca de 70 d.C.) sendo um dos símbolos mais emblemáticos do Império Romano.

        O local era utilizado para grandes espetáculos com animais selvagens e nas lutas entre gladiadores. Atualmente, é um dos locais mais visitados da Itália, sendo possível encontrar parte de sua estrutura.
    </p>
</div>
<br>
<header class="roma"></header>
<header class="mexico"></header>
<br>
<div class="titulo">
    <h2>Chichén Itzá (México) </h2>
</div>
<div class="texto">
    <p>
        Localizada na península de Yucatán, a cidade arqueológica (ou Cidade Templo) foi a capital da civilização maia, fundada aproximadamente em 450 a.C.. Importante centro político e econômico dos maias, ela foi declarada Patrimônio Mundial da Unesco em 1988.

        A Chichén Itzá é formada pela pirâmide de Kukulkan (El Castillo), o Templo de Chac Mool, a Praça das Mil Colunas e o Campo de Jogos dos Prisioneiros. Atualmente é um dos locais mais visitados no México.
    </p>
</div>
<br>
<header class="mexico"></header>
<header class="peru"></header>
<br>
<div class="titulo">
    <h2>Machu Picchu (Peru) </h2>
</div>
<div class="texto">
    <p>
        Construída no século XV, o Machu Picchu está localizado a 2400 metros de altitude, no cume de uma das montanhas da Cordilheira dos Andes, próximo a Cusco, no Peru.

        Considerada patrimônio mundial pela Unesco, o Machu Picchu representa o local onde floresceu parte da civilização Inca e por isso, é também chamado de “cidade perdida dos Incas”.

        Foi construída majoritariamente em pedra e está bem conservada até os dias atuais, uma vez que os espanhóis quando conquistaram parte da América do Sul, não encontraram o local, que foi redescoberto por um professor estadunidense (Hiram Bingham) em 1911. Atualmente é um dos locais mais visitados do Peru.
    </p>
</div>
<br>
<header class="peru"></header>
<header class="china"></header>
<br>
<div class="titulo">
    <h2>Muralha da China (China) </h2>
</div>
<div class="texto">
    <p>
        Grande construção em pedra, granito e tijolo, a Muralha da China (ou Grande Muralha) foi construída entre os séculos III a.C. e XVII d.C., e possui cerca de 20 mil quilômetros e 7 metros de altura.

        Foi erguida a mando do Imperador Chinês Qin Shihuang e tinha como principal função a proteção militar. Foi construída durante diversas dinastias da China Imperial. Atualmente é uma das maiores atrações turísticas da China.
    </p>
</div>
<br>
<header class="china"></header>
<header class="jordania"></header>
<br>
<div class="titulo">
    <h2>As Ruínas de Petra (Jordânia) </h2>
</div>
<div class="texto">
    <p>
        Situada na Jordânia, no Oriente Médio, as ruínas de petra representam um cidade histórica e arqueológica que foi construída cerca de 300 a.C., sendo esculpida nos penhascos de arenito núbio.

        As ruínas de Petra estão incluídas na categoria de Patrimônio Mundial da UNESCO, desde 1985. O local representa o que restou da ocupação de diversas civilizações (edomitas, nabateus, árabes, romanos, bizantinos) que floresceram durante a antiguidade. Foi parcialmente destruída por terremotos que ocorreram na região cerca de 550 d.C..
    </p>
</div>
<br>
<header class="jordania"></header>
<header class="india"></header>
<br>
<div class="titulo">
    <h2>Taj Mahal (Índia) </h2>
</div>
<div class="texto">
    <p>
        O Taj Mahal é uma das construções mais famosas da Índia, eleita patrimônio mundial pela Unesco. Localizado em Agra, o suntuoso mausoléu foi construído em mármore branco em meados do século XVII a mando do imperador Shan Jahan, em homenagem a morte de sua mulher Aryumand Banu Begam que morreu ao dar à luz ao 14° filho.

        É considerado uma das maiores provas de amor do mundo e atrai milhões de visitantes todos os anos. Estima-se que foi erguido com a força de 22 mil homens. Além do mármore, o Taj Mahal é composto por diversas pedras preciosas.
    </p>
</div>
<br>
<header class="india"></header>

