<head><link rel="stylesheet" href="~/css/tt_index.css" /></head>
<header class="rio">
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Destinos">Destinos</a>
        <a asp-controller="Home" asp-action="Promocoes">Promoções</a>
        <a asp-controller="Home" asp-action="Contatos">Contatos</a>
    </nav>
</header>
<br>
<main>
    <div class="titulo">
        <h2>As sete maravilhas modernas </h2>
    </div>
    <div class="texto">
        <p>  Assim como o Cristo Redentor estamos de braços abertos para te receber, e te acompanhar nessa incrivel experiência de conhecer as "Sete maravilhas modernas" </p>
    </div>
</main>