<head>
    <link rel="stylesheet" href="~/css/tt_promocao.css" />
</head>
<header>
    <nav class="navbar navbar-light">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Destinos">Destinos</a>
        <a asp-controller="Home" asp-action="Promocoes">Promoções</a>
        <a asp-controller="Home" asp-action="Contatos">Contatos</a>
        <a asp-controller="TBPromocoes" asp-action="Index">Crud</a>
    </nav>
</header>
        <br />
        <main class="container">
            <h2 class="texto">Ofertas</h2>
            <div class="divbloco">
                <div class="bloco slide" data-ride="bloco">
                    <img src="~/img/china.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="bloco slide" data-ride="bloco">
                    <img src="~/img/india.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="bloco slide" data-ride="bloco">
                    <div>
                        <img src="~/img/jordania.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <div class="blocoOferta">
                    <p>Muralha da China 10% de DESCONTO</p>
                </div>
                <div class="blocoOferta">
                    <p>Taj Mahal (Índia) 15% DE DESCONTO</p>
                </div>
                <div class="blocoOferta">
                    <p>As Ruínas Petra (Jordânia) 20% de DESCONTO</p>
                </div>

            </div>
        </main>
